{% extends "base.html" %}
{% load static %}

{% block title %}
    Ver projetos
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'tarefas/css/list_tasks.css' %}">
{% endblock %}

{% block content %}

<div class="home-container">

    <section class="hero">
        {% if tarefas %}
            <div class="header-tasks">
                <h2>Tarefas</h2>
                <a href="{% url 'tarefas:create-task' %}" class="btn btn-primary">
                    Criar tarefa
                </a>
            </div>
            <div class="tasks-list">
                {% for tarefa in tarefas %}
                <div class="task-info">
                    <a href="{% url 'tarefas:task-detail' tarefa.id %}" class="column">
                        <h3>
                            {{ tarefa.titulo }}
                        </h3>
                        
                        {% if tarefa.prioridade %}
                            <p>
                                Prioridade: 
                                
                                <span
                                
                                {% if tarefa.prioridade == 'baixa' %}
                                    class="priority tag-green"
                                {% elif tarefa.prioridade == 'normal' %}
                                    class="priority tag-yellow"
                                {% elif tarefa.prioridade == 'alta' %}
                                    class="priority tag-red"
                                {% else %}
                                    class="priority tag-deep-red"
                                {% endif %}
                                >{{ tarefa.prioridade }}</span>
                            </p>
                        {% endif %}
                        {% if tarefa.concluido %}
                            <p class="tag tag-green">Concluído</p>
                        {% else %}
                            <p class="tag tag-red">Não concluído</p>
                        {% endif %}
                    </a>
    
                    {% if tarefa.projeto %}
                    <div class="column">
                        <p>Projeto associado:</p>
                        <div class="task-project">
                            {{ tarefa.projeto.nome }}
                        </div>
                    </div>
                    {% endif %}
    
                <div class="">
                <a href="{% url 'tarefas:edit-task' tarefa.id %}">
                    <span class="material-symbols-outlined">edit</span>
                </a>

                <a onclick="return confirm('Deseja excluir essa tarefa?')" class="delete" href="{% url 'tarefas:delete-task' tarefa.id %}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        </div>
            
        {% endfor %}
        </div>
        
        {% else %}
            <h2 style="text-align: center;">
                Não há tarefas cadastradas
            </h2>
            <a href="{% url 'tarefas:create-task' %}" class="btn btn-primary">
                    Criar tarefa
                </a>
        {% endif %}
    </section>
</div>

{% endblock %}