{% extends "base.html" %}

{% load static %}

{% block title %}
    Ver projetos
{% endblock %}


{% block links %}

    <link rel="stylesheet" href="{% static 'projetos/css/list_projects.css' %}">

{% endblock %}

{% block content %}

<div class="home-container">

    <section class="hero">
        {% if projetos %}
            <div class="header-projects">
                <h2>Projetos Cadastrados</h2>
                <a href="{% url 'create-project' %}" class="btn btn-primary">
                    Criar projeto
                </a>
            </div>
            <div class="project-list">
                {% for projeto in projetos %}
                <a href="{% url 'project-detail' projeto.id %}" class="project-info">
    
                    <h3>
                        {{ projeto.nome }}
                    </h3>
    
                    <p>
                        {{ projeto.descricao }}
                    </p>
    
                    <div class="project-meta">
    
                        <span>
                            {{ projeto.data_inicio }}
                        </span>
    
                    </div>
    
                </a>
                {% endfor %}
            </div>

        {% else %}
            <h2 style="text-align: center;">
                Não há projetos cadastrados
            </h2>
        {% endif %}
    </section>
</div>

{% endblock %}