{% extends "base.html" %}

{% load static %}

{% block title %}
    Detalhes projeto 
{% endblock %}


{% block links %}

    <link rel="stylesheet" href="{% static 'projetos/css/project_detail.css' %}">
    <link rel="stylesheet" href="{% static 'tarefas/css/list_tasks.css' %}">

{% endblock %}

{% block content %}

<div class="home-container">

    <section class="hero">
        <div class="header-projects" style="display: flex; gap: 10px; align-items: center;">
            <a href="{% url 'list-projects' %}" class="button-8" role="button">↩</a>
            <h2>{{ projeto.nome }}</h2>
        </div>
        <div class="project-list">
            <div class="project-info detail-project">
                <div>
                    <div class="detail-project">
                        <h3 class="h3-style">Descrição:</h3>
                        <p>
                            {{ projeto.descricao }}
                        </p>
                    </div>
                    
                    <div class="detail-project">
                        <h3 class="h3-style">Data de início:</h3>
                        <p>
                            {{ projeto.data_inicio }}
                        </p>
                    </div>
                </div>
                <div>
                    <h3 class="h3-style">Tarefas a concluir</h3>
                    
                        {% for tarefa in projeto.tarefa.all %}
                            {% if not tarefa.concluido %}
                                <a href="{% url 'tarefas:task-detail' tarefa.id %}" class="task-info">
                        
                                    <div class="column">
                                        <h3>
                                            {{ tarefa.titulo }}
                                        </h3>
                                        
                                        {% if tarefa.prioridade %}
                                            <p>
                                                Prioridade: 
                                                
                                                <span
                                                
                                                {% if tarefa.prioridade == 'baixa' %}
                                                    class="priority tag-green"
                                                {% elif tarefa.prioridade == 'normal' %}
                                                    class="priority tag-yellow"
                                                {% elif tarefa.prioridade == 'alta' %}
                                                    class="priority tag-red"
                                                {% else %}
                                                    class="priority tag-deep-red"
                                                {% endif %}
                                                >{{ tarefa.prioridade }}</span>
                                            </p>
                                        {% endif %}
                                        {% if tarefa.concluido %}
                                            <p class="tag tag-green">Concluído</p>
                                        {% else %}
                                            <p class="tag tag-red">Não concluído</p>
                                        {% endif %}
                                    </div>
                    
                                    {% if tarefa.projeto %}
                                    <div class="column">
                                        <p>Projeto associado:</p>
                                        <div class="task-project">
                                            {{ tarefa.projeto.nome }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}